<% @title_desc = "Sign Up" %>
<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/55034421?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="76%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<div class="signup_header">
				<%= link_to image_tag("webpage/connect_with_facebook.png"), omniauth_authorize_path(resource_name, :facebook) %>
				<%= image_tag "webpage/or.png" %>
			</div>
			<div class="signup_body">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= image_tag "webpage/firstname_field.png", :class => "signup_labels" %><%= f.text_field :firstname %><br/>
				<%= image_tag "webpage/email_field.png", :class => "signup_labels" %><%= f.text_field :email %><br/>
				<%= image_tag "webpage/password_field.png", :class => "signup_labels" %><%= f.password_field :password  %>
			</div>
			<div class="landing_next_button">
				<%= f.submit "CREATE ACCOUNT", :class => "next_button" %>
				<br />
				<%= link_to "Already have an account?", new_session_path(resource_name) %>
			</div>
		</div>
 		<%= devise_error_messages! %>
		<% end %>
	</div>	
</div>
