<script type="text/javascript">
	$(function() {
		if( /Android|webOS|iPhone|iPad|iPod|BlackBerry/i.test(navigator.userAgent) ) {
			$("#our_promise").hide(); 
		}
	});
</script>
<% @title_desc = "Sign Up" %>
<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/<%=  I18n.t 'video', :scope => :landing %>?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="76%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<div class="moolango-box" style="float: right; width: 150px; color: #FFFFFF;">
				<div class="moolango-box-inner">
					<p class="bold"><%= I18n.t 'promise_header', :scope => :signup %></p> <%= I18n.t 'promise_body', :scope => :signup %></div>
			</div>
			<div class="signup_header">
				<%= link_to image_tag("webpage/connect_with_facebook.png"), omniauth_authorize_path(resource_name, :facebook) %>
				<%= image_tag "webpage/or.png" %>
			</div>
			<div class="signup_body">
				<%= form_for(resource, :as => resource_name, :url => registration_path(resource_name)) do |f| %>
				<%= image_tag "webpage/firstname_field.png", :class => "signup_labels" %><%= f.text_field :firstname %><br/>
				<%= image_tag "webpage/email_field.png", :class => "signup_labels" %><%= f.text_field :email %><br/>
				<%= image_tag "webpage/password_field.png", :class => "signup_labels" %><%= f.password_field :password  %>
			</div>
			<div class="landing_next_button">
				<%= f.submit (I18n.t 'create_account', :scope => :signup), :class => "next_button" %>
				<br />
				<%= link_to (I18n.t 'already_account', :scope => :signup), new_session_path(resource_name) %>
			</div>
		</div>
 		<%= devise_error_messages! %>
		<% end %>
	</div>	
</div>
