<div class="row">
	<div class="span12">
		<div style="margin: -50px;">
			<div class="landing_header">
				OUR TEAM
			</div>
		</div>
	</div>
</div>
<br/><br/>
<div class="row">
	<div class="span4 offset2">
		<div class="about_text_container">
			<div class="about_name_container">
				<p class="about_name_text"><%= link_to 'Benjamin', 'http://twitter.com/tonklis' %></p>
			</div>
			<p class="about_info_text">He learned English on the battlefield of bar-room chitchat with the ladies. That's why he loves building the back-end of MooLango. He'd like to speak GERMAN.</p>
		</div>
		<div class="about_image_container">
			<%= image_tag "webpage/benjamin.png", :alt => "benjamin hernandez zetter"%>
		</div>
	</div>
	<div class="span4">
		<div class="about_text_container">
			<div class="about_name_container">
				<p class="about_name_text"><%= link_to 'Diego', 'http://twitter.com/dmiramon' %></p>
			</div>
			<p class="about_info_text">He learned English role playing in Yahoo chat during the 90's. That's why he loves building the front-end of MooLango. He'd like to speak PORTUGUESE.</p>
		</div>
		<div class="about_image_container">
			<%= image_tag "webpage/diego.png", :alt => "diego miramontes valencia"%>
		</div>
	</div>
</div>
<br/><br/>
<div class="row">
	<div class="span4 offset2">
		<div class="about_text_container">
			<div class="about_name_container">
				<p class="about_name_text"><%= link_to 'Bill', 'http://twitter.com/BillBabeaux' %></p>
			</div>
			<p class="about_info_text">He learned Spanish in the back of mexican taxi cabs talking about movies. That's why he loves designing and marketing MooLango. He'd love to speak FRENCH.</p>
		</div>
		<div class="about_image_container">
			<%= image_tag "webpage/bill.png", :alt => "william babeaux"%>
		</div>
	</div>
	<div class="span4">
		<div class="about_text_container">
			<div class="about_name_container">
				<p class="about_name_text"><%= link_to 'Rui', 'http://twitter.com/RayGameChanger' %></p>
			</div>
			<p class="about_info_text">He learned Chinese while he was growing up in China. That's why he loves helping MooLango reach out to the chinese market. He'd love to speak MOOLANGANESE.</p>
		</div>
		<div class="about_image_container">
			<%= image_tag "webpage/rui.png", :alt => "rui liang"%>
		</div>
	</div>
</div>

