<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>

<div>

	<div class="action_body">

		<div class="row">
			<%= link_to image_tag("webpage/buy_credit.gif", :alt => "buy credits button", :class=>"moolango-box"), :paypal_shopping_cart %>
			<% if current_user.credits <= 0%>
				<%= link_to image_tag("webpage/trial_button.gif", :alt => "buy credits button", :class=>"moolango-box", :style=>"margin-top: -52px;"), "mailto:hello@moolango.com?subject=MooLango free trial&body=Please help us fill why you you want to try MooLango out and we'll give you a free conversation!%0D%0A%0D%0AI'd like to try out MooLango because ..." %>
			<% end %>
			<br /> <br />
		</div>

	<% if current_user.credits > 0 %>
		<div class="row">
				<%= link_to image_tag("webpage/schedule_conversation.gif", :alt => "schedule button", :class=>"moolango-box"), :new_conversation_ui %>
				<br /> <br />
		</div>
	<% end %>
	<!--
	<% if @schedule %>
		<div class="row">
			<% if current_user.credits > 0 %>
				<%= link_to image_tag("webpage/practice_now.gif", :alt => "practice button", :class=>"moolango-box", :onclick=>"simpleRedirect(currentUserId,'#{@schedule.id}');"), "#myModal", "data-toggle"=>"modal", "data-backdrop"=>"static", "data-keyboard"=>"false" %>
			<% else %>
				<div class="alert alert-error" style="width: 29%; margin: auto;">
					<p><strong>We're sorry!</strong> You don't have credits to enter your scheduled session.</p>
				</div>
			<% end %>	
			<br /> <br />
		</div>
	<% end %>
	-->
	</div>
</div>

<div id="data_holder" data-user-id="<%=current_user.id%>" >
</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <h3 id="modal_title">Please wait</h3>
  </div>
  <div class="modal-body upgrade-link" style="text-align: center;">
    <p id="modal_message">Loading...</p>
		<div style="width: 45%; margin: auto;">
			<div id="modal_prog_bar" class="progress progress-striped">
				<div id="modal_progress" class="bar" style="width: 100%;"></div>
			</div>
		</div>
		<p id="modal_wait_message"></p>
	</div>
	<div class="modal-footer" style="text-align: center;">
		<a id="modal_button_close" href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>


<script type="text/javascript">
		
	var currentUserId = $("#data_holder")[0].getAttribute("data-user-id");
	
</script>
