<script type="text/javascript">
	var publisher;
	var stream;
	var is_buyer = true;
	var session = TB.initSession('<%= @open_tok_session %>');
	var publisherProperties = new Object();
	var api_key = '<%= @api_key %>';
	var token = '<%= @token %>';
	var credits = '<%= current_user.credits %>';
	var room_id = '<%= @room.id %>';
	
	$(function(){

		createPusher('<%= ENV['PUSHER_KEY']%>', '<%= @internal_session %>', '<%= Topic.find(@topic_id).name %>');
		$('#chat_field')[0].value="Type your message here...";

		publisherProperties.publishVideo = true;
		publisher = TB.initPublisher(api_key, 'myPublisherDiv', publisherProperties);

		connect();

		$('#slideImageDiv').css("background-image", "url(/assets/<%= @hints[0].thumbnail_url %>)");
	});	
</script>

<div class="row">
	<div class="span6">
		<div id="waitingDivGone" style="position:relative;">
			<div id="waitingDiv">
				<br />
				<p>Waiting for user to connect, please wait.</p>
				<%= image_tag "spinner.gif" %>
			</div>
			<div id="userDiv" style="align:center;">
				<p> <%=@joined_user.firstname%> </p>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="slideDiv">
		<%= form_tag('/interaction', :remote => true, :id => "new_interaction") do %>
				<%= hidden_field_tag :channel, @internal_session %>
				<%= hidden_field_tag :origin, true %>
				<%= hidden_field_tag :next, false %>
				<%= hidden_field_tag :topic_id, @topic_id %>
				<%= hidden_field_tag :language_id, @language_id %>
				<%= hidden_field_tag :current_slide, @hints[0].id %>
			<div id="slideImageDiv">
				<%= submit_tag "Next", :onClick => "nextInteraction(true);", :class => "slideNextButton conversationButton" %>
				<%= submit_tag "Prev", :onClick => "nextInteraction(false);", :class => "slidePrevButton conversationButton" %>				
			</div>
			<div id="slideTextDiv">
				<div id="hint_text"><%= @hints[0].description %></div>
			</div>
		<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="outerPublisherDiv">
			<div id="publisherDiv" style="position:relative;">
				<div id="myPublisherDiv"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="chatDiv">
			<ul id="chat">
			</ul>
			<%= form_for Message.new, remote: true do |f| %>
				<%= f.text_field :content, :onclick => "$('#chat_field')[0].value='';", :id=>"chat_field" %>
				<%= f.hidden_field :channel, :value => @internal_session %>
				<%= f.hidden_field :origin, :value => true, :id=>"origin_field" %>
				<%= f.submit "Send", :class => "conversationButton" %>
			<% end %>
		</div>
	</div>
</div>

<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<button type="button" class="close" data-dismiss="modal" onclick="windowClose();">x</button>
		<h3>The call has ended</h3>
	</div>
	<div class="modal-body" style="text-align: center;">
		<p id="modal_message">Click the button to return to the homepage</p>
	</div>
	<div class="modal-footer" style="text-align: center;">
	</div>
</div>
