<script type="text/javascript">
	var publisher;
	var stream;
	var session = TB.initSession('<%= @session %>');
	var publisherProperties = new Object();
	var api_key = '<%= @api_key %>';

	$(function(){

		slidePusher('<%= ENV['PUSHER_KEY']%>', '<%= @session.to_s %>', '<%= Topic.find(@topic_id).name %>', <%= Topic.find(@topic_id).hints.size %>);
		$('#chat_field')[0].value="Type your message here...";

		publisherProperties.publishVideo = false;
		publisher = TB.initPublisher(api_key, 'myPublisherDiv', publisherProperties);

		connect();

		$('#slideImageDiv').css("background-image", "url(/assets/topics/<%= Topic.find(@topic_id).name %>/1.jpg)");
	});	
</script>

<div class="row">
	<div class="span6">
		<div id="totalTimeBar" style="align:center; width:300px; height:20px; background-Color:red; position:relative; display: none;">
			<div id="timeBar" style="width:0px; height:20px; background-Color:blue; position:absolute;">
			</div>
			<div id="totalTimeTxt" style="position:absolute;">
			</div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="waitingDivGone">
			<div id="waitingDiv">
				<br />
				<p>Waiting for user to connect, please wait.</p>
				<%= image_tag "spinner.gif" %>
			</div>
			<div id="userDiv">
				<p> <%=@joined_user.firstname%> </p>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="slideDiv">
		<%= form_tag('/interaction', :remote => true, :id => "new_interaction") do %>
				<%= hidden_field_tag :session, @session.to_s[12..23] %>
				<%= hidden_field_tag :origin, true %>
				<%= hidden_field_tag :next, false %>
				<%= hidden_field_tag :topic_id, @topic_id %>
				<%= hidden_field_tag :current_slide, "0" %>
			<div id="slideImageDiv">
				<%= submit_tag "Next", :onClick => "nextInteraction(true);", :class => "slideNextButton"%>
				<%= submit_tag "Prev", :onClick => "nextInteraction(false);", :class => "slidePrevButton"%>				
			</div>
			<div id="slideTextDiv">
				<div id="hint_text"><%= Topic.find(@topic_id).hints[0].description %></div>
			</div>
		<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="outerPublisherDiv">
			<div id="publisherDiv" style="position:relative;">
				<div id="myPublisherDiv"></div>
			</div>
		</div>
	</div>
	<div class="span6">
			<div id="chatDiv">
				<ul id="chat">
				</ul>
				<%= form_for Message.new, remote: true do |f| %>
					<%= f.text_field :content, :onclick => "$('#chat_field')[0].value='';", :id=>"chat_field" %>
					<%= f.hidden_field :session, :value => @session.to_s[0..11] %>
					<%= f.hidden_field :origin, :value => true%>
					<%= f.submit "Send"%>
					<button type="button" onClick="reconnect();">Reconnect</button>
				<% end %>
			</div>
	</div>
</div>
