<script type="text/javascript">
	var publisher;
	var stream;
	var is_buyer = true;
	var session = TB.initSession('<%= @open_tok_session %>');
	var publisherProperties = new Object();
	var api_key = '<%= @api_key %>';
	var token = '<%= @token %>';
	var credits = '<%= current_user.credits %>';
	var room_id = '<%= @room.id %>';
	var total_time = 60*<%= @schedule.length %>;

	window.onbeforeunload = function(){
		openDisconnectDialog();
	}

	$(function() {
		
		simplePusher('<%= ENV['PUSHER_KEY']%>', '<%= @internal_session %>');
		$('#chat_field')[0].value="Type your message here...";

		publisherProperties.publishVideo = false;
		publisherProperties.height = 90;
		publisherProperties.width = 120;
		publisherProperties.name = '<%= current_user.firstname %>';
		publisherProperties.style = new Object();
		publisherProperties.style.nameDisplayMode = 'on';
		publisher = TB.initPublisher(api_key, 'myPublisherDiv', publisherProperties);

		connect();

		$('.star').each(function(index) {
			$(this).mousemove(function(e) {
				element = $(e.currentTarget);
				selectStars(element.parent().attr('id'), element.attr("value"));
			});
			$(this).mouseout(function(e) {
				element = $(e.currentTarget);
				selectStars(element.parent().attr('id'), $('#evaluation_seller_' + element.parent().attr("metric-value")).attr('value'));
			});
			$(this).click(function(e) {
				element = $(e.currentTarget);
				$('#evaluation_seller_' + element.parent().attr("metric-value")).attr('value', element.attr("value"));
			});
		});
	});

</script>

<div>
	<div style="float:left; width:35%">
			
			<div style="float:right;">
				<div id="endCallDiv">
					<%= form_tag('/interaction/end_call', :remote => true, :id => "end_call_form") do %>
						<%= hidden_field_tag :channel, @internal_session %>
						<%= hidden_field_tag :room_id, @room.id if @room%>
						<%= submit_tag "", :class => "endCallButton" %>
					<% end %>
				</div><br/>
				<button type="button" class="reconnectButton" onClick="reconnect();"></button><br/>
			
			<div style="height:2px"></div>
			
			<div id="timerDiv">
				<div id="totalTimeBar">
					<div id="timeBar"></div>
					<div id="totalTimeTxt"></div>
				</div>
			</div>
		</div>
		
	</div>

	<div style="width:65%; float:left;">
		<div class="row">
			<div class="span4">
				<div id="waitingDivGone">

					<div id="waitingDiv">
						<br />
						<p>Waiting for user to connect, please wait.</p>
						<%= image_tag "spinner.gif" %>
					</div>

					<div id="publisherDiv" style="margin: -150px auto auto 85px;">
						<div id="myPublisherDiv"></div>
					</div>
				</div>
			</div>
		</div>

		<div class="row">
			<div class="span4">
				<div id="chatDiv">
					<ul id="chat">
					</ul>
					<%= form_for Message.new, remote: true do |f| %>
						<%= f.text_field :content, :onclick => "$('#chat_field')[0].value='';", :id=>"chat_field", :onkeypress=>"return validateEnterKey(event);" %>
						<%= f.hidden_field :channel, :value => @internal_session %>
						<%= f.hidden_field :origin, :value => true, :id=>"origin_field" %>
						<%= f.hidden_field :room_id, :value => @room.id %>
						<%= f.hidden_field :user_id, :value => current_user.id %>
						<%= button_tag "Send", :class => "conversation_button", :onclick => "submitWithMessage();", :type => "button" %>
					<% end %>
				</div>
			</div>
		</div>

	</div>
</div>

<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<h3>The call has ended</h3>
	</div>
	<div class="modal-body" style="text-align: left;">
		<div id="modal_form" style="margin-left:5px">
			<%= form_for evaluation_seller = EvaluationSeller.new do |f| %>
				<% if evaluation_seller.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(evaluation_seller.errors.count, "error") %> prohibited this evaluation_seller from being saved:</h2>
						<ul>
							<% evaluation_seller.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			
				<p>Help us improve MooLango by answering these simple questions:</p>
				<br/>
				<div id="metric1" metric-value="enjoy" style="position:relative;">
					<div>1. Did you enjoy your conversation with a native speaker?
					</div>
					<div class="star" value="1" description="Totally disagree"></div>
					<div class="star" value="2" description="Disagree"></div>
					<div class="star" value="3" description="Neutral"></div>
					<div class="star" value="4" description="Agree"></div>
					<div class="star" value="5" description="Totally agree"></div>
					<br/><div></div>
					<div class="description" style="position:absolute; color: #999;"></div>
					<%= f.hidden_field :enjoy %>
				</div>
				<br /><br />
				<div id="metric2" metric-value="recommend" style="position:relative;">
					<div>2. Would you recommend this activity to another language learner?
					</div>
					<div class="star" value="1" description="Totally disagree"></div>
					<div class="star" value="2" description="Disagree"></div>
					<div class="star" value="3" description="Neutral"></div>
					<div class="star" value="4" description="Agree"></div>
					<div class="star" value="5" description="Totally agree"></div>
					<br/>
					<div class="description" style="position:absolute; color: #999;"></div>
					<%= f.hidden_field :recommend %>
				</div>
				<br /><br />
				<div id="metric3" metric-value="helpful" style="position:relative;">
					<div>3. Do you think the native speaker was helpful?
					</div>
					<div class="star" value="1" description="Totally disagree"></div>
					<div class="star" value="2" description="Disagree"></div>
					<div class="star" value="3" description="Neutral"></div>
					<div class="star" value="4" description="Agree"></div>
					<div class="star" value="5" description="Totally agree"></div>
					<br/>
					<div class="description" style="position:absolute; color: #999;"></div>
					<%= f.hidden_field :helpful %>
				</div>
				<br /><br />
				<div id="metric4" metric-value="confidence" style="position:relative;">
					<div>4. Do you feel more confident with your language after this conversation?
					</div>
					<div class="star" value="1" description="Totally disagree"></div>
					<div class="star" value="2" description="Disagree"></div>
					<div class="star" value="3" description="Neutral"></div>
					<div class="star" value="4" description="Agree"></div>
					<div class="star" value="5" description="Totally agree"></div>
					<br/>
					<div class="description" style="position:absolute; color: #999;"></div>
					<%= f.hidden_field :confidence %>
				</div>
				<br /><br />
				<div id="metric5" metric-value="improvement" style="position:relative;">
					<div>5. Do you feel your speaking and listening improved after this conversation?
					</div>
					<div class="star" value="1" description="Totally disagree"></div>
					<div class="star" value="2" description="Disagree"></div>
					<div class="star" value="3" description="Neutral"></div>
					<div class="star" value="4" description="Agree"></div>
					<div class="star" value="5" description="Totally agree"></div>
					<br/>
					<div class="description" style="position:absolute; color: #999;"></div>
					<%= f.hidden_field :improvement %>
				</div>
				<br/><br/>
				<%= f.hidden_field :room_id, :value => @room.id %>
				<div class="actions">
					<%= f.submit "SEND", :class => "next_button" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="modal-footer" style="text-align: center;">
	</div>
</div>
