<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type="text/javascript">
		var IMAGE_PATH = "http://localhost:3000/assets/<%= Topic.find(@topic_id).name %>/";
    var pusher = new Pusher('<%= ENV['PUSHER_KEY']%>');
    var channel_chat = pusher.subscribe('<%= @session.to_s[6..11] %>');
	
		var hints_size = <%= Topic.find(@topic_id).hints.size %>;

		channel_chat.bind('<%= @session.to_s[0..5] %>', function(data) {
			var new_li = document.createElement('li');
			if (data.origin == 'true') {
				new_li.setAttribute('style','background-color:#DDDDDD');
			}
			new_li.innerHTML = data.message;
			$("#chat").append(new_li);
			document.getElementById("chat").scrollTop = document.getElementById("chat").scrollHeight;
			$("#new_message")[0].reset();
		});

    var channel_slide = pusher.subscribe('<%= @session.to_s[18..23] %>');
	
		channel_slide.bind('<%= @session.to_s[12..17] %>', function(data) {
			$("#current_slide")[0].value = data.current_image;
			$("#hint_pic")[0].src = IMAGE_PATH + (parseInt(data.current_image) + 1) + ".png";
			$("#hint_text")[0].innerHTML = data.current_text;	
		});

		function nextInteraction(event){
			$("#next")[0].value = event;
		} 
		
</script>
<script type="text/javascript">

	var publisher;
	var stream;
	var audioOnly = true;
	var session = TB.initSession('<%= @session %>');
	connect();

	function sessionConnectedHandler(event) {
		var publisherProperties = new Object();
		publisherProperties.publishVideo = false;
		publisher = TB.initPublisher(<%= @api_key %>, 'myPublisherDiv', publisherProperties);
		session.publish(publisher);
		
		var parentDiv = document.getElementById("publisherDiv");
		var botonDiv = document.createElement('div');
		botonDiv.innerHTML = '<input type="button" id="videoBtn" value="Turn on video" onClick="enableDisableVideo()" style="display:none;"/>';
		botonDiv.style.position = 'absolute';
		botonDiv.style.left = '80px';
		botonDiv.style.top =  '175px';
		parentDiv.appendChild(botonDiv);
		
		subscribeToStreams(event.streams);
    }

	function subscribeToStreams(streams) {
		for (i = 0; i < streams.length; i++) {
			stream = streams[i];
			if (stream.connection.connectionId != session.connection.connectionId) {
					session.subscribe(stream, 'waitingDiv', {width: 380, height: 285});
			}
		}
	}

	function streamCreatedHandler(event) {
		subscribeToStreams(event.streams);
		document.getElementById("videoBtn").style.display = 'block';
	}

	function connect(){
		session.addEventListener('sessionConnected', sessionConnectedHandler);
		session.addEventListener('streamCreated', streamCreatedHandler); 
		session.connect(<%= @api_key %>, "devtoken");
	}

	function reconnect(){
		var div = document.createElement('div');
		div.setAttribute('id','myPublisherDiv');
		$("#publisherDiv").append(div);

		session.unpublish(publisher);
		session.unsubscribe(stream);
		session.disconnect();

		setTimeout(function(){connect();}, 1000);
	}
	
	function enableDisableVideo() {
		audioOnly = !audioOnly
		publisher.publishVideo(!audioOnly);
		if (audioOnly)
			document.getElementById("videoBtn").value = "Turn on video";
		else
			document.getElementById("videoBtn").value = "Turn off video";
	}

</script>

<div class="row">
	<div class="span12">
		<div class="title">
			<div class="title_image" ></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="waitingDivGone">
			<div id="waitingDiv">
				<br />
				<p>Waiting for user to connect, please wait.</p>
				<%= image_tag "spinner.gif" %>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="slideDiv">
		<%= form_tag('/interaction', :remote => true, :id => "new_interaction") do %>
				<%= hidden_field_tag :session, @session.to_s[12..23] %>
				<%= hidden_field_tag :origin, true %>
				<%= hidden_field_tag :next, false %>
				<%= hidden_field_tag :topic_id, @topic_id %>
				<%= hidden_field_tag :current_slide, "0" %>
			<div id="slideImageDiv">
				<%= submit_tag "Next", :onClick => "nextInteraction(true);"%>
				<%= submit_tag "Prev", :onClick => "nextInteraction(false);"%>
				<%= image_tag Topic.find(@topic_id).hints[0].thumbnail_url, :id=>"hint_pic" %>
			</div>
			<div id="slideTextDiv">
				<div id="hint_text"><%= Topic.find(@topic_id).hints[0].description %></div>
			</div>
		<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="outerPublisherDiv">
			<div id="publisherDiv" style="position:relative;">
				<div id="myPublisherDiv"></div>
			</div>
		</div>
	</div>
	<div class="span6">
			<div id="chatDiv">
				<ul id="chat">
				</ul>
				<%= form_for Message.new, remote: true do |f| %>
					<%= f.text_field :content%>
					<%= f.hidden_field :session, :value => @session.to_s[0..11] %>
					<%= f.hidden_field :origin, :value => true%>
					<%= f.submit "Send" %>
					<button type="button" onClick="reconnect();">Reconnect</button>
				<% end %>
			</div>
	</div>
</div>
