<script type="text/javascript">

$(document).ready(function() {
	$('.conversation').each(function() {
		var link = "<a href=/conversation_room/" + this.id + '> Enter room </a>';
		$(this).countdown({until: new Date(parseInt(this.attributes.time.value)), layout: 'Starts in: <br/> {d<}{dn} {dl}{d>} {h<}{hn} {hl}{h>} {m<}{mn} {ml}{m>} {s<}{sn} {sl}{s>}', expiryText: link, format: 'dhms'});
	});
});

</script>
<div class="row">
	<div class="span12">
	<div class="landing_header">
		<%= current_user.firstname.upcase %>'S <%= I18n.t 'conversations', :scope => :dashboard %>
	</div>
	<br/>
	<div class="span8 offset2 moolango-box" >
		<div style="margin: 15px;">
			<table class="table table-bordered" style="background-color: white;" >
				<thead>
					<tr style="background-color: #9bd8f7; color: white;">
						<th><%= I18n.t 'when', :scope => :dashboard %></th>
						<th><%= I18n.t 'topic', :scope => :dashboard %></th>
						<th><%= I18n.t 'duration', :scope => :dashboard %></th>
						<th><%= I18n.t 'language', :scope => :dashboard %></th>
						<th></th>
					</tr>
				</thead>
				<tbody style="color: #3c89bd;">
					<% 
						count = 0
						time_booked = 0
		 			%>
					<% @conversations.each do |conversation| %>
					<%
						count+= 1
						time_booked+= conversation.duration
				 	%>
					<% if count % 2 != 0 %>
					<tr style="">
					<% else %>
					<tr style="background-color: #d4effa">
					<% end %>
						<!-- s.when.in_time_zone("Eastern Time (US & Canada)").strftime("%A %b %d, %Y %H:%M %Z") -->
						<td> <%= conversation.when.strftime("%A %b %d, %Y - %I:%M %p %Z") %></td>
						<td> <%= conversation.topic %>	</td>
						<td> <%= conversation.duration %> min </td>
						<td> <%= conversation.language.name %> </td>
						<td class="orange-link">
						<% if conversation.is_pending %>
							<%= "Pending confirmation" %>
						<% elsif conversation.is_ready %>
							<%= link_to "#{I18n.t 'enter', :scope => :dashboard}", :controller => "display", :action => "conversation_room", :id => conversation.id %>
						<% else %>  
							<%= tag("div", :class => "conversation", :id => conversation.id, :time => (conversation.when.to_i - 5.minutes) * 1000) %> 
						<% end %>
						</td>
					</tr>
					<% end %>
				</tbody>
			</table>	
			<% if current_user.credits > 0 %>	
				<div class="landing_get_started_button" style="margin-top: 0;" onclick="window.open('<%= new_conversation_ui_url %>', '_self');">
					<div class="calendar_button">
						<div style="margin: 0 10px 0 60px;">
							<%= link_to raw("#{I18n.t 'book_conversation', :scope => :dashboard}"), :new_conversation_ui %>
						</div>
					</div>
				</div>
			<% else %>
				<div class="landing_get_started_button" style="margin-top: 0; cursor: default;">
					<div class="calendar_button" style="opacity: 0.4;	filter: alpha(opacity=40);">
						<div style="margin: 0 10px 0 60px;">
							<%= raw("#{I18n.t 'book_conversation', :scope => :dashboard}") %>
						</div>
					</div>
				</div>
			<% end %>
			<div class="time_booked_box">
				<div class="time_booked_text">
					<%= I18n.t 'time_booked', :scope => :dashboard %>
				</div>
				<div class="time_booked_value">
					<%= time_booked %> <%= I18n.t 'minutes', :scope => :dashboard %>
				</div>
			</div>
		</div>
	</div>
</div>
</div>
<br/> <br/>
