<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/55034421?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="76%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<div class="moolango-box">
				<div class="moolango-box-inner">
					<div style="float: right; width: 70%;">
						<div style="float: left;">
							<h2 class="landing_header" style="text-align: left;">
								Practice a language 
							</h2>
							<p style="color: #FFFFFF; font-size: 12px;">(English and Spanish available)</p>
							<br />
							<div class="body_text">
								<ul>
									<li>Talk with native speakers</li>
									<li>Pick topics you love</li>
									<li>No need to swap Skype names</li>
									<li>First conversation is FREE</li>
								</ul>
							</div>							
						</div>
						<div class="landing_get_started_button" onclick="window.open('<%= signup_url %>', '_self');">
							<div class="get_started_button">
								<%= link_to "GET STARTED!", :signup %>
							</div>
						</div>
					</div>
					<div stye="float: right;">
						<%= image_tag "webpage/topics_conversations.png", :alt => "topics and conversations", :style=>"width: 25%;" %>
					</div>
				</div>
			</div>
			<br /> <br /> <br />
			<div class="moolango-box">
				<div class="moolango-box-inner">
					<div class="landing_get_started_button" onclick="window.open('<%= new_earner_form_path %>', '_self');">
						<div class="get_started_button" style="float: right;">
							<%= link_to "GET YOUR INVITE!", new_earner_form_path %>
						</div>
					</div>
					<div class="body_text" style="float: left; margin-top: 10px; width: 50%;">
						<p> Want to make money speaking your language? </p>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
