<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/<%=  I18n.t 'video', :scope => :landing %>?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="76%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<div class="moolango-box">
				<div class="moolango-box-inner">
					<div style="float: right; width: 70%;">
						<div style="float: left;">
							<div class="landing_header" style="text-align: left;">
								<%= I18n.t 'practice', :scope => :landing %>
							</div>
							<p style="color: #FFFFFF; font-size: 12px;"><%= I18n.t 'en_es', :scope => :landing %></p>
							<br/>
							<div class="body_text" style="width: 300px;">
								<ul>
									<li><%= I18n.t 'native', :scope => :landing %></li>
									<li><%= I18n.t 'topics', :scope => :landing %></li>
									<li><%= I18n.t 'no_skype', :scope => :landing %></li>
									<li><%= I18n.t 'first_convo', :scope => :landing %></li>
								</ul>
							</div>							
						</div>
						<div class="landing_get_started_button" onclick="window.open('<%= signup_url %>', '_self');">
							<div class="get_started_button">
								<%= link_to (I18n.t 'start', :scope => :landing), :signup %>
							</div>
						</div>
					</div>
					<div stye="float: right;">
						<%= image_tag "webpage/topics_conversations.png", :alt => "topics and conversations", :style=>"width: 25%;" %>
					</div>
				</div>
			</div>
			<br /> <br /> <br />
			<div class="moolango-box">
				<div class="moolango-box-inner">
					<div class="body_text" style="float: left; margin-top: 10px; width: 65%;">
						<p> <%= I18n.t 'make_money', :scope => :landing %> </p>
					</div>
					<div class="landing_get_started_button" onclick="window.open('<%= new_earner_form_path %>', '_self');" >
						<div class="get_started_button_min">
							<%= link_to raw(I18n.t 'learn_more', :scope => :landing), new_earner_form_path %>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
</div>
