<script type="text/javascript">
	var publisher;
	var stream;
	var is_buyer = true; //change to false when earners are enabled
	var session = TB.initSession('<%= @open_tok_session %>');
	var publisherProperties = new Object();
	var api_key = '<%= @api_key %>';
	var token = '<%= @token %>';
	var credits = '<%= current_user.credits %>';
	var room_id = '<%= @room.id %>';

	window.onbeforeunload = function(){
		$("#end_call_form").submit()
	}

	$(function(){

		createPusher('<%= ENV['PUSHER_KEY']%>', '<%= @internal_session %>', '<%= Topic.find(@topic_id).name %>');
		$('#chat_field')[0].value="Type your message here...";

		publisherProperties.publishVideo = true;
		publisher = TB.initPublisher(api_key, 'myPublisherDiv', publisherProperties);

		connect();

		$('#slideImageDiv').css("background-image", "url(/assets/<%= @hints[0].thumbnail_url %>)");
		
		$('.star').each(function(index) {
			$(this).mousemove(function(e) {
				selectStars($(e.currentTarget).attr("value"));
			});
			$(this).mouseout(function(e) {
				selectStars(selected_star);
			});
			$(this).click(function(e) {
				selected_star = $(e.currentTarget).attr("value");
				$('#feedback_form_rating').attr('value', selected_star);
			});
		});
	});
	
</script>

<div class="row">
	<div class="span6">
		<div id="waitingDivGone" style="position:relative;">
			<div id="waitingDiv">
				<br />
				<p>Waiting for user to connect, please wait.</p>
				<%= image_tag "spinner.gif" %>
			</div>
			<div id="userDiv" style="align:center;">
				<!-- <p> insert creator user here </p> -->
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="slideDiv">
		<%= form_tag('/interaction', :remote => true, :id => "new_interaction") do %>
				<%= hidden_field_tag :channel, @internal_session %>
				<%= hidden_field_tag :origin, false %>
				<%= hidden_field_tag :next, false %>
				<%= hidden_field_tag :topic_id, @topic_id %>
				<%= hidden_field_tag :language_id, @language_id %>
				<%= hidden_field_tag :current_slide, @hints[0].id %>
			<div id="slideImageDiv">
				<%= submit_tag "Next", :onClick => "nextInteraction(true);", :class => "slideNextButton conversationButton" %>
				<%= submit_tag "Prev", :onClick => "nextInteraction(false);", :class => "slidePrevButton conversationButton" %>				
			</div>
			<div id="slideTextDiv">
				<div id="hint_text"><%= @hints[0].description %></div>
			</div>
		<% end %>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="outerPublisherDiv">
			<div id="publisherDiv" style="position:relative;">
				<div id="myPublisherDiv"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="chatDiv">
			<ul id="chat">
			</ul>
			<%= form_for Message.new, remote: true do |f| %>
				<%= f.text_field :content, :onclick => "$('#chat_field')[0].value='';", :id=>"chat_field" %>
				<%= f.hidden_field :channel, :value => @internal_session %>
				<%= f.hidden_field :origin, :value => false, :id=>"origin_field"%>
				<%= f.submit "Send", :class => "conversationButton" %>
			<% end %>
		</div>
	</div>
</div>

<div class="modal hide fade" id="myModal">
	<div class="modal-header">
		<h3>The call has ended</h3>
	</div>
	<div class="modal-body" style="text-align: left;">
		<div id="modal_message"></div>
		<br/>
		<div id="modal_form" style="margin-left:5px">
			<%= form_for feedback_form = FeedbackForm.new do |f| %>
				<% if feedback_form.errors.any? %>
					<div id="error_explanation">
						<h2><%= pluralize(feedback_form.errors.count, "error") %> prohibited this feedback_form from being saved:</h2>
						<ul>
							<% feedback_form.errors.full_messages.each do |msg| %>
								<li><%= msg %></li>
							<% end %>
						</ul>
					</div>
				<% end %>
			
				<p>Help us improve MooLango by answering these simple questions:</p>
				<br/>
				<p> 1. How would you rate this conversation? </p>
				<div>
					<div id="star1" class="star" value="1"></div>
					<div id="star2" class="star" value="2"></div>
					<div id="star3" class="star" value="3"></div>
					<div id="star4" class="star" value="4"></div>
					<div id="star5" class="star" value="5"></div>
				</div>
				<br /><br />
				<p> 2. Can you tell us why? </p>
				<div class="field">
					<%= f.text_area :comments %>
				</div>
				<p>3. Which topics would you like to talk about?<p/>
				<div class="field">
					<%= f.text_area :topics %>
				</div>
				<%= f.hidden_field :rating %>
				<%= f.hidden_field :user_id, :value => current_user.id %>
				<%= f.hidden_field :room_id, :value => @room.id %>
				<br/>
				<div class="actions">
					<%= f.submit "SEND", :class => "next_button" %>
				</div>
			<% end %>
		</div>
	</div>
	<div class="modal-footer" style="text-align: center;">
	</div>
</div>
