<script src="http://js.pusher.com/1.12/pusher.min.js"></script>
<script type="text/javascript">
    var pusher = new Pusher('<%= ENV['PUSHER_KEY']%>');
    var channel = pusher.subscribe('test_channel');
	
		channel.bind('my_event', function(data) {
			var new_li = document.createElement('li');
			if (data.origin == 'true') {
				new_li.setAttribute('style','background-color:#DDDDDD');
			}
			new_li.innerHTML = data.message;
			$("#chat").append(new_li);
			$("#new_message")[0].reset();
		});
</script>
<script type="text/javascript">

	var session = TB.initSession('<%= @session %>');
	session.addEventListener('sessionConnected', sessionConnectedHandler);
  session.addEventListener('streamCreated', streamCreatedHandler); 
	session.connect(<%= @api_key %>, "devtoken");

	var publisher;

	function sessionConnectedHandler(event) {
      publisher = TB.initPublisher(<%= @api_key %>, 'myPublisherDiv');
      session.publish(publisher);
      subscribeToStreams(event.streams);
    }

	function subscribeToStreams(streams) {
    for (i = 0; i < streams.length; i++) {
        var stream = streams[i];
        if (stream.connection.connectionId != session.connection.connectionId) {
        		session.subscribe(stream, 'waitingDiv', {width: 380, height: 285});
        }
    }
	}

	function streamCreatedHandler(event) {
    subscribeToStreams(event.streams);
	}
		

</script>

<div class="row">
	<div class="span12">
		<div class="title">
			<div class="title_image" ></div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="waitingDivGone">
			<div id="waitingDiv">
				<br />
				<p>Waiting for user to connect, please wait.</p>
				<%= image_tag "spinner.gif" %>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="slideDiv">
			<div id="__ss_<%=@slideshare_params[:small_id]%>"> <iframe src="http://www.slideshare.net/slideshow/embed_code/<%=@slideshare_params[:small_id]%>" width="427" height="356" frameborder="0" marginwidth="0" marginheight="0" scrolling="no" style="border:1px solid #CCC;border-width:1px 1px 0" allowfullscreen></iframe> </div>
		</div>
	</div>
</div>

<div class="row">
	<div class="span6">
		<div id="outerPublisherDiv">
			<div id="publisherDiv">
				<div id="myPublisherDiv"></div>
			</div>
		</div>
	</div>
	<div class="span6">
		<div id="slideDiv">
			<div id="chatDiv">
				<ul id="chat">
				</ul>
				<%= form_for Message.new, remote: true do |f| %>
					<%= f.text_field :content%>
					<%= f.hidden_field :origin, :value => false%>
					<%= f.submit "Send" %>
				<% end %>
			</div>
		</div>
	</div>
</div>
