<div class="row">
	<div class="span6 offset3">
		<div style="height: 80px;">
		<%= image_tag "webpage/language_to_practice.png", :alt => "click on the language to begin"%>
		</div>
	</div>
</div>
<div class="row">
	<div class="span8 offset1">
		<div style="width: 120%;">
			<div class="row-fluid">
				<div class="span2">
					<%= image_tag "webpage/english.png", :alt => "english" %>
				</div>
				<div class="span2">
					<%= image_tag "webpage/spanish.png", :alt => "english" %>
				</div>
				<div class="span2">
					<%= image_tag "webpage/english.png", :alt => "english" %>
				</div>
				<div class="span2">
					<%= image_tag "webpage/english.png", :alt => "english" %>
				</div>
				<div class="span2">
					<%= image_tag "webpage/english.png", :alt => "english" %>
				</div>
				<div class="span2">
					<%= image_tag "webpage/english.png", :alt => "english" %>
				</div>
			</div>	
		</div>			
	</div>
</div>
