<% @title_desc = "Topics List" %>
	
		<div style="height: auto; text-align: center;">
			<%= image_tag "webpage/click_on_the_image.png", :alt => "click on the image to pick a topic", :style => "margin: -30px auto 20px auto;"%>
		</div>
		
		<div id="content" class="centered">
			
			<% @enabled_topics.each do |topic| %>
				<div class="box">
					<div class="box_shell">
						<%= image_tag topic.thumbnail_url %>
					</div>
					<div id="topic_<%=topic.id%>" class="box_details  one-edge-shadow">
						<p class="text_topic" id="text_topic_<%=topic.id%>">Searching ...</p>
						<p class="waiting_topic" id="waiting_topic_<%=topic.id%>"><%= image_tag "waiting.gif" %></p>
						<p class="button_topic" id="button_topic_<%=topic.id%>" style="display:none;"><%= link_to "Join now!", "/", :class=>"btn btn-success", :id => "join_now_topic_#{topic.id}" %></p>
					</div>
				</div>
			<% end %>
		</div>

	<div id="data_holder" data-user-id="<%=current_user.id%>" >
	</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <h3>Please wait</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p id="modal_message">Searching for someone to practice with…</p>
		<div style="width: 45%; margin: auto;">
			<div id="modal_prog_bar" class="progress progress-striped">
				<div id="modal_progress" class="bar" style="width: 100%;"></div>
			</div>
		</div>
		<p id="modal_wait_message"></p>
	</div>
  <div class="modal-footer" style="text-align: center;">
		<a id="modal_button_close" href="#" class="btn" data-dismiss="modal">Close</a>
  </div>
</div>
	
<script type="text/javascript">

	var currentUserId = $("#data_holder")[0].getAttribute("data-user-id");

	$(document).ready(function(){
		var $container = $('#content');
		$container.imagesLoaded(function() {
			$container.masonry({
				itemSelector : '.box',
				gutterWidth: 8,
				isFitWidth: true
			});
			$('.box').each(function(index){$('.box')[index].style.display = 'block'});
		});
		queryRooms();
		setInterval(function(){queryRooms();},5000);
	});
	
</script>
