<script type="text/javascript">
	
	$(function(){

		var $container = $('#content');
     
       $container.imagesLoaded(function(){
				$container.masonry({
				itemSelector : '.box',
				gutterWidth: 5,
				isFitWidth: true
			});
		});
	});

	function topicOpen(topicId){

		$("#modal_message")[0].innerHTML="Connecting...";
		$("#modal_prog_bar")[0].className="progress progress-stripped";
		$("#modal_progress")[0].style.width="2%";
		$("#modal_button_accept").hide();
		$("#modal_button_accept")[0].href="#";
		$("#modal_button_close").show();

		var pusher = new Pusher('<%= ENV['PUSHER_KEY']%>');
		var sessionId = Math.random().toString(36).substring(7);
    var channel_confirm = pusher.subscribe(sessionId);

		channel_confirm.bind('confirm_channel', function(data) {
			if(data.message == "OK"){
				$("#modal_message")[0].innerHTML="Match found!";
				$("#modal_prog_bar")[0].className="progress progress-success";
				$("#modal_button_accept").show();
				$("#modal_button_close").hide();
				$("#modal_button_accept")[0].href="conversation_room/"+ data.topic_id +"?session="+data.session
			}
		});

		$.ajax({  
  		type: "POST",  
  		url: "messages/async_outbound",
  		data: 'session_id=' + sessionId + '&topic_id=' + topicId,
			beforeSend: function(xhr) {
    		xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
  		},			
  		success: function() {
				$("#modal_progress")[0].style.width="100%";
				$("#modal_message")[0].innerHTML="Searching for someone to practice with...";
				$("#modal_prog_bar")[0].className="progress progress-striped active";
			},
			error: function() {
				$("#modal_message")[0].innerHTML="The site is busy, please try again later.";
				$("#modal_prog_bar")[0].className="progress progress-danger";
			} 
		});  
	}

	function windowClose(){

	}

</script>

<% @title_desc = "Topics List" %>
	
	<div>
		<h1 class="topic_header">
			Select a topic to talk about
		</h1>
		
		<div id="content" class="centered">
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/sustainability.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/popart.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/michaeljackson.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/up.gif", :onclick=>"topicOpen(4);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/darkknightrises.gif", :onclick=>"topicOpen(2);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/lost.gif", :onclick=>"topicOpen(1);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/nyc.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/stevejobs.gif", :onclick=>"topicOpen(7);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/simpsons.gif", :onclick=>"topicOpen(8);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/gameofthrones.gif", :onclick=>"topicOpen(6);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/avatar.gif", :onclick=>"topicOpen(3);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/harrypotter.gif", :onclick=>"topicOpen(9);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/mariokart.gif", :onclick=>"topicOpen(5);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/aliens.gif"%>
			</div>
		</div>
	</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" onclick="windowClose();">×</button>
    <h3>Please wait</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p id="modal_message">Searching for someone to practice with…</p>
		<div style="width: 45%; margin: auto;">
			<div id="modal_prog_bar" class="progress progress-striped">
  			<div id="modal_progress" class="bar" style="width: 100%;"></div>
			</div>
  	</div>
	</div>
  <div class="modal-footer" style="text-align: center;">
    <a id="modal_button_close" href="#" class="btn" data-dismiss="modal" onclick="windowClose();">Close</a>
    <a id="modal_button_accept" href="#" class="btn btn-success">Talk now</a>
  </div>
</div>
