<% @title_desc = "Topics List" %>
	
	<div>
		<div style="height: 80px; text-align: center;">
			<%= image_tag "webpage/click_on_the_image.png", :alt => "click on the image to pick a topic"%>
		</div>
		
		<div id="content" class="centered">
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/sustainability.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/popart.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/michaeljackson.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/up.gif", :onclick=>"topicOpen(4, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/darkknightrises.gif", :onclick=>"topicOpen(2, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/lost.gif", :onclick=>"topicOpen(1, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/nyc.gif"%>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/stevejobs.gif", :onclick=>"topicOpen(7, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/simpsons.gif", :onclick=>"topicOpen(8, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/gameofthrones.gif", :onclick=>"topicOpen(6, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/avatar.gif", :onclick=>"topicOpen(3, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/harrypotter.gif", :onclick=>"topicOpen(9, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<a data-toggle="modal" data-backdrop="static" data-keyboard="false" href="#myModal"><%= image_tag "webpage/topics/mariokart.gif", :onclick=>"topicOpen(5, currentUserId, pusherKey);"%></a>
			</div>
			<div class="box one-edge-shadow">
				<%= image_tag "webpage/topics/aliens.gif"%>
			</div>
		</div>
	</div>
	<div id="data_holder" data-user-id="<%=current_user.id%>" data-pusher-key="<%=ENV['PUSHER_KEY']%>" >
	</div>

<div class="modal hide fade" id="myModal">
  <div class="modal-header">
    <button type="button" class="close" data-dismiss="modal" onclick="windowClose();">×</button>
    <h3>Please wait</h3>
  </div>
  <div class="modal-body" style="text-align: center;">
    <p id="modal_message">Searching for someone to practice with…</p>
		<div style="width: 45%; margin: auto;">
			<div id="modal_prog_bar" class="progress progress-striped">
  			<div id="modal_progress" class="bar" style="width: 100%;"></div>
			</div>
  	</div>
	</div>
  <div class="modal-footer" style="text-align: center;">
    <a id="modal_button_close" href="#" class="btn" data-dismiss="modal" onclick="windowClose();">Close</a>
    <a id="modal_button_accept" href="#" class="btn btn-success">Talk now</a>
  </div>
</div>

<script type="text/javascript">
	
	var currentUserId = $("#data_holder")[0].getAttribute("data-user-id");
	var pusherKey = $("#data_holder")[0].getAttribute("data-pusher-key");

	$(function(){

		var $container = $('#content');
     
       $container.imagesLoaded(function(){
				$container.masonry({
				itemSelector : '.box',
				gutterWidth: 5,
				isFitWidth: true
			});
		});
	});
	
</script>
