<ol>
<li><%= link_to "Lost", "conversation_room/1" %></li>
<li><%= link_to "Batman", "conversation_room/2" %></li>
<li><%= link_to "Avatar", "conversation_room/3" %></li>
<li><%= link_to "Up", "conversation_room/4" %></li>
<li><%= link_to "Mario Kart", "conversation_room/5" %></li>
<li><%= link_to "Game of Thrones", "conversation_room/6" %></li>
<li><%= link_to "Steve Jobs", "conversation_room/7" %></li>
<li><%= link_to "Simpsons", "conversation_room/8" %></li>
<li><%= link_to "Harry Potter", "conversation_room/9" %></li>
</ol>
