<script type="text/javascript">

	var time_start = parseInt('<%= @time_start %>')
	var time_zone = '<%= @offset %>'

	function selected(desc, show){

		$(".box").each(function(i, obj) {
			obj.className = "box one-edge-shadow";
		});

		if (show){
			$('#conversation_topic').show('normal');
			$("#pick_div")[0].className = "box one-edge-shadow-selected"
		} else {
			$('#conversation_topic').hide('normal');
			$("#"+desc+"_div")[0].className = "box one-edge-shadow-selected"
		}
		$('#conversation_topic')[0].value = desc;
	}

	function resetField(){
		$('#conversation_topic')[0].value = '';
	}

	function setPicker(tz, min, max) {
		$("#conversation_when").datetimepicker({
				controlType: 'select',
				dateFormat: "yy-mm-dd",
				minDate: 2,
				maxDate: 20,
				timeFormat: 'hh:mm tt z',
				showTimezone: false,
				timezoneList: [{value: tz, label: ''}],
				stepMinute: 30,
				hourMin: min,
				hourMax: max
		});
		//[{ value: '-0500', label: 'Eastern Time' }],
	}

	function updateTimezone(newTz) {
		$.ajax({	
			type: "POST", 
  			url: "calculate_timezone",
  			data: 'timezone=' + encodeURIComponent(newTz), //encodear el timezone
			beforeSend: function(xhr) {
				xhr.setRequestHeader('X-CSRF-Token', $('meta[name="csrf-token"]').attr('content'));
				$("#tz_spinner").show();
  		},
			success: function(data){
				time_zone = data.offset;
				time_start = parseInt(data.time_start);
				$("#conversation_when").datetimepicker('setDate', '');
				$("#conversation_when").datetimepicker('destroy');
				setPicker(time_zone, time_start, time_start + 11);
				$("#tz_spinner").hide();
			},
			error: function(jqXHR, textStatus, errorThrown){
				alert(textStatus);
				$("#tz_spinner").hide();
			}
		});
	}

	$(function(){
		setPicker(time_zone, time_start, time_start + 11)
		$('#conversation_topic').hide();
		$("#tz_spinner").hide();
		$("#user_time_zone").change(function() {
			newTz = $(this).val();
			updateTimezone(newTz)
		});
	});

</script>
<style>
.field_with_errors { display: inline; }
</style>
<div class="row">
	<div class="span12">
		<div>
			<div class="landing_header">
				<%= I18n.t 'book_a_convo', :scope => :new_conversation %>
			</div>
			<% if @conversation.errors.any? %>
				<div id="error_explanation" class="alert alert-error" style="width: 15%; margin-top: 15px; float: right;">
					<ul>
					<% @conversation.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
			<% end %>
			<div class="earner_body moolango-box"  style="height: auto;">
				<br />
				<div class="earner_form">
					<%= form_for(@conversation, :url => :create_conversation_ui) do |f| %>
					<div class="field">
						<%= f.label "#{I18n.t 'language', :scope => :new_conversation}" %>
						<%= f.select :language_id, [["#{I18n.t 'english', :scope => :new_conversation}",'1'],["#{I18n.t 'spanish', :scope => :new_conversation}",'2']] %>
					</div>
					<div class="field">
						<%= f.label "#{I18n.t 'focus', :scope => :new_conversation}" %>
						<%= f.select :purpose, [["#{I18n.t 'vocabulary', :scope => :new_conversation}","#{I18n.t 'vocabulary', :scope => :new_conversation}"],["#{I18n.t 'fun', :scope => :new_conversation}","#{I18n.t 'fun', :scope => :new_conversation}"],["#{I18n.t 'pace', :scope => :new_conversation}","#{I18n.t 'pace', :scope => :new_conversation}"],["#{I18n.t 'pronunciation', :scope => :new_conversation}","#{I18n.t 'pronunciation', :scope => :new_conversation}"]], {:prompt => "#{I18n.t 'select_prompt', :scope => :new_conversation}"} %>
					</div>
					<div class="field">
						<%= f.label "#{I18n.t 'topic', :scope => :new_conversation}" %>
					</div>
					
					<div id="content" style="height: auto; width: auto; overflow: auto;">
			
						<div id="<%= I18n.t 'apple', :scope => :new_conversation %>_div" style="width: 100px; height: 100px; float:left; margin: 5px 5px 5px 5px;">
							<%= image_tag("topics/apple_s.gif", :style=>"height: 100%; width: 100%;", :onclick=>"selected('#{I18n.t 'apple', :scope => :new_conversation}', false);") %>
						</div>
						<div id="<%= I18n.t 'beatles', :scope => :new_conversation %>_div" style="width: 100px; height: 100px; float:left; margin: 5px 5px 5px 5px;">
							<%= image_tag("topics/the_beatles_s.jpg", :style=>"height: 100%; width: 100%;", :onclick=>"selected('#{I18n.t 'beatles', :scope => :new_conversation}', false);") %>
						</div>
						<div id="<%= I18n.t 'food', :scope => :new_conversation %>_div" style="width: 100px; height: 100px; float:left; margin: 5px 5px 5px 5px;">
							<%= image_tag("topics/food_s.gif", :style=>"height: 100%; width: 100%;", :onclick=>"selected('#{I18n.t 'food', :scope => :new_conversation}', false);") %>
						</div>
						<!-- <div class="box one-edge-shadow">
							<%= link_to image_tag("topics/beer_pong.gif"), "/" %>
						</div>
						<div class="box one-edge-shadow">
							<%= link_to image_tag("topics/fraternities.gif"), "/" %>
						</div>
						<div class="box one-edge-shadow">
							<%= link_to image_tag("topics/tail_gate.gif"), "/" %>
						</div> -->
						<div id="pick_div" class="box one-edge-shadow" style="width: 100px; height: 100px; float:left; margin: 5px 5px 0 5px;">
							<%= image_tag("topics/pick_your_own_s.#{I18n.locale}.gif", :style=>"height: 100%; width: 100%;", :onclick=>"selected('#{I18n.t 'eg', :scope => :new_conversation}', true);") %>
						</div>
			
					</div>
					<div>
						<%= f.text_field :topic, :value => "", :onfocus => "resetField();" %>
					</div>
					<br/>
					<div class="field">
						<p> <%= I18n.t 'timezone', :scope => :new_conversation %> </p>
						<%= time_zone_select(:user, :time_zone, ActiveSupport::TimeZone.all.sort, :include_blank => false, :default => current_user.timezone != nil && current_user.timezone != '' ? current_user.timezone : 'Eastern Time (US & Canada)') %>
						<%= image_tag "waiting.gif", :style => "margin: -10px auto auto 10px;" , :id => "tz_spinner" %>
					</div>
				  	<div class="field">
							<p> <%= I18n.t 'when', :scope => :new_conversation %> </p>
						<%= f.text_field :when %> 
					</div> 

					<div class="field">
						<p> <%= I18n.t 'how_many_min', :scope => :new_conversation %> </p>
						<%= f.select :duration, @conversation_options %>
						<%= hidden_field_tag :buyer_id, current_user.id %>
					</div>
					<br/>
					<div class="actions" style="text-align: center">
						<%= f.submit "#{I18n.t 'schedule', :scope => :new_conversation}", :class => "next_button" %>
					</div>
					<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
<br/><br/>
<br/><br/>
<br/><br/>
