<%= form_for(@hint) do |f| %>
  <% if @hint.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@hint.errors.count, "error") %> prohibited this hint from being saved:</h2>

      <ul>
      <% @hint.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= f.label :topic_id %><br />
    <%= f.number_field :topic_id %>
  </div>
  <div class="field">
    <%= f.label :thumbnail_url %><br />
    <%= f.text_field :thumbnail_url %>
  </div>
  <div class="field">
    <%= f.label :description %><br />
    <%= f.text_field :description %>
  </div>
  <div class="actions">
    <%= f.submit %>
  </div>
<% end %>
