<script type="text/javascript">
	$(function(){
			$("#schedule_when").datetimepicker({
				dateFormat: "yy-mm-dd",
				minDate: 2,
				maxDate: 20,
				timeFormat: 'hh:mm z',
				showTimezone: true,
				timezoneList: [{ value: '-0400', label: 'EDT' }],
				stepMinute: 30,
				hourMin: 9,
				hourMax: 20
			});
	});
</script>
<style>
.field_with_errors { display: inline; }
</style>
<div class="row">
	<div class="span12">
		<div style="margin: -50px;">
			<div class="landing_header">
				<%= image_tag "webpage/schedule_a_conversation.png", :alt => "schedule a conversation"%>
			</div>
			<div class="earner_body moolango-box">
				<br />
				<% if @schedule.errors.any? %>
				<div id="error_explanation" class="alert alert-error" style="width: 70%; margin: auto;">
					<ul>
					<% @schedule.errors.full_messages.each do |msg| %>
						<li><%= msg %></li>
					<% end %>
					</ul>
				</div>
				<br />
				<% end %>
				<div class="earner_form">
				<%= form_for(@schedule) do |f| %>
					<div class="field">
						<%= f.label "What language do you want to practice?" %>
						<%= f.select :language_id, [['English','1'],['Spanish','2']] %>
					</div> <br />
					<div class="field">
						<%= f.label "What would you like to focus on this session?" %>
						<%= f.select :purpose, [['vocabulary','vocabulary'],['fun','fun'],['pace','pace'],['pronunciation','pronunciation']] %>
					</div> <br />
					<div class="field">
						<%= f.label "Which topic would you like to talk about? (food, TV series, movies, etc)" %>
						<%= f.text_field :options, :value => "" %>
					</div> <br />
				  <div class="field">
						<%= f.label "When do you want to practice? (eastern daylight time) "%> 
						<%= f.text_field :when %> <%= f.select :length, [['30 minutes','30'],['60 minutes','60']]%> <br />
						<p style="text-align: center;">
						<%= link_to 'Convert to your timezone here', 'http://www.thetimezoneconverter.com/', :target => "_blank", :class => "linkText" %>
						</p>
						<%= hidden_field_tag :user_id, current_user.id %>
					</div> <br />
					<div class="actions" style="text-align: center">
							<%= f.submit "Schedule now!", :class => "next_button" %>
					</div>
				<% end %>
				</div>
			</div>
		</div>
	</div>
</div>
