<%= form_for(@schedule) do |f| %>
  <% if @schedule.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(@schedule.errors.count, "error") %> prohibited this schedule from being saved:</h2>

      <ul>
      <% @schedule.errors.full_messages.each do |msg| %>
        <li><%= msg %></li>
      <% end %>
      </ul>
    </div>
  <% end %>
  <div class="field">
    <%= f.label :language_id %><br />
    <%= f.text_field :language_id %>
  </div>
  <div class="field">
    <%= f.label :purpose %><br />
    <%= f.text_field :purpose %>
	</div>
	<div class="field">
    <%= f.label :options %><br />
    <%= f.text_field :options %>
	</div>
	<div class="field">
    <%= f.label :purpose %><br />
    <%= f.number_field :purpose %>
	</div>
	<div class="field">
		<%= f.label :when %><br />
		<%= f.text_field :when %>
	</div>
	<div class="field">
    <%= f.label :user_id %><br />
    <%= f.number_field :user_id %>
	</div>
<% end %>
