<p>
<%= @user.firstname.capitalize %>, <%= I18n.t 'thanks', :scope => :detail_email %>
</p>
<p>
<%= I18n.t 'details', :scope => :detail_email %>:
</p>
<ul>
	<li><%= I18n.t 'language', :scope => :dashboard %>: <%= Language.find(@conversation.language_id).name.capitalize %> </li>
	<li><%= I18n.t 'topic', :scope => :dashboard %>: <%= @conversation.topic %> </li>
	<li><%= I18n.t 'focus', :scope => :detail_email %>: <%= @conversation.purpose %> </li>
	<li><%= I18n.t 'date', :scope => :detail_email %>: <%= l @conversation.when.in_time_zone(@user.timezone), :format => :moolango %> </li>
</ul>
<p> .</p>
<p> <%= I18n.t 'questions', :scope => :detail_email %> </p>
<p>
<%= I18n.t 'adobe', :scope => :detail_email %> <a href="http://get.adobe.com/flashplayer/"><%= I18n.t 'click_here', :scope => :detail_email %></a>.</p>
<br/>
<p>
<%= I18n.t 'confirm', :scope => :detail_email %>, <a href="http://<%= I18n.locale == :cn ? "cn." : "www." %>moolango.com/confirm/<%= @conversation.id %>?session=<%= @conversation.internal_session %>"><%= (I18n.t 'click_here', :scope => :detail_email).upcase %></a>:
</p><br>
<p>	<%= I18n.t 'sincerely', :scope => :detail_email %> </p>
<p> <%= I18n.t 'team', :scope => :detail_email %> </p>
