<p>
	User: <%= @user.firstname %>
</p>
<p>
	e-mail: <%= @user.email %>
</p>
<p>
	Language: <%= Language.find(@schedule.language_id).name %>
</p>
<p>
	When: <%= @schedule.when %>
	for: <%= @schedule.length %> minutes
</p>
<p>
	Topic(s): <%= @schedule.options %>
</p>
<p>
	Purpose: <%= @schedule.purpose %>
</p>
