<p>
	User: <%= @user.firstname %>
</p>
<p>
	e-mail: <%= @user.email %>
</p>
<p>
	When: <%= @schedule.when %>
</p>
<p>
	Topic(s): <%= @schedule.options %>
</p>
<p>
	Purpose: <%= @schedule.purpose %>
</p>
