<script type="text/javascript">
	alert(navigator.userAgent);
</script>

<% @title_desc = "Log In" %>
<div class="row">
	<div class="span6">
		<div class="landing_left_hemisphere">
			<iframe src="http://player.vimeo.com/video/<%=  I18n.t 'video', :scope => :landing %>?title=0&amp;byline=0&amp;portrait=0&amp;color=ff9933" width="76%" height="100%" webkitAllowFullScreen mozallowfullscreen allowFullScreen></iframe>
		</div>
	</div>
	<div class="span6">
		<div class="landing_right_hemisphere">
			<div id="our_promise" class="moolango-box" style="float: right; width: 150px; color: #FFFFFF;">
				<div class="moolango-box-inner">
					<p class="bold"><%= I18n.t 'promise_header', :scope => :signup %></p> <%= I18n.t 'promise_body', :scope => :signup %></div>
			</div>
			<div class="signup_header" >
				<%= link_to image_tag("webpage/log_in_using_facebook.png"), omniauth_authorize_path(resource_name, :facebook) %>
				<%= image_tag "webpage/or.png" %>
			</div>
			<div class="signup_body">
				<%= form_for(resource, :as => resource_name, :url => session_path(resource_name)) do |f| %>
					<%= image_tag "webpage/email_field.png", :class => "signup_labels" %><%= f.text_field :email %><br/>
					<%= image_tag "webpage/password_field.png", :class => "signup_labels" %><%= f.password_field :password  %>
			</div>
			<div class="landing_next_button">
					<%= f.submit strip_tags(I18n.t 'login', :scope => :layout), :class => "next_button" %><br />
					<%= link_to (I18n.t 'forgot_password', :scope => :login), new_password_path(resource_name), :style => "line-height: 150%;"%><br />
					<%= link_to (I18n.t 'need_account', :scope => :login), new_registration_path(resource_name) %>
			</div>
			<!--
				 	<% if devise_mapping.rememberable? -%>
    				<div><%= f.check_box :remember_me %> <%= f.label :remember_me %></div>
			  	<% end -%>
					-->
				<% end %>
		</div>
	</div>	
</div>
