<p id="notice"><%= notice %></p>

<p>
  <b>Email:</b>
  <%= @feedback.email %>
</p>

<p>
  <b>Topics:</b>
  <%= @feedback.topics %>
</p>


<%= link_to 'Edit', edit_feedback_path(@feedback) %> |
<%= link_to 'Back', feedbacks_path %>
