<style>
.field_with_errors { display: inline; }
</style>
<div class="row">
		<div class="span12">
			<div style="margin: -50px;">
				<div class="landing_header">
					<%= image_tag "webpage/sign_up_for_an_invite.gif", :alt => "sign up for an invite"%>
				</div>
				<div class="earner_body">
					<br />
					<div class="earner_info">
						Thanks for your interest! We've had a ton of folks sign up who want to make some moola speaking their lango.
						<br /><br />
						To save your spot in time, would you answer a few questions for us?
						<br /> <br />
					</div>
					<div class="earner_form">
					<%= form_for(@earner_form) do |f| %>
						<div class="field">
							<%= f.label "Would you use Moolango if you earned $ 1.50 per a 10-minute conversation?", :class => "earner_form_questions" %>
							<%= f.radio_button :pricing, 'true' %> Yes
							<%= f.radio_button :pricing, 'false' %> No
						</div> <br />
						<div class="field">
							<%= f.label "Would you like to use Moolango to fundraise for your favorite cause (Race for the Cure, Kiva, etc?)", :class => "earner_form_questions" %>
							<%= f.radio_button :donate, 'true' %> Yes
							<%= f.radio_button :donate, 'false' %> No
						</div> <br />
						<div class="field">
							<%= f.label "What's your e-mail address?", :class => "earner_form_questions" %>
							<%= f.text_field :email, :value => current_user.email %>
						</div> <br />
						<div class="field">
							<%= f.check_box :agree, :class => "earner_form_questions"%>
							<%= f.label "Cool if we contact you via e-mail when your invite is ready?" %>
						</div> <br />
							<%= f.hidden_field :user_id, :value => current_user.id %>
						<div class="actions" style="text-align: center">
							<%= f.submit "GET YOUR INVITE", :class => "next_button" %>
						</div> <br />
					<% end %>
					<% if @earner_form.errors.any? %>
							<div id="error_explanation" class="alert alert-error">
								<ul>
									<% @earner_form.errors.full_messages.each do |msg| %>
										<li><%= msg %></li>
									<% end %>
								</ul>
							</div>
						<% end %>
					</div>
				</div>
			</div>
		</div>	
</div>
