<h1>Listing rooms</h1>

<table>
  <tr>
    <th>Creator</th>
    <th>Joiner</th>
    <th>Name</th>
    <th>Status</th>
		<th>Session</th>
		<th>Topic</th>
		<th>Open Tok Session</th>
		<th>Archive ID</th>
    <th></th>
    <th></th>
    <th></th>
  </tr>

<% @rooms.each do |room| %>
  <tr>
    <td><%= User.find(room.creator_id).firstname %></td>
    <td><%= User.find(room.joiner_id).firstname if room.joiner_id %></td>
    <td><%= room.name %></td>
    <td><%= room.status %></td>
    <td><%= room.session_id %></td>
    <td><%= room.topic_id %></td>
    <td><%= room.open_tok_session %></td>
    <td><%= room.record_id %></td>
    <td><%= link_to 'Show', room %></td>
    <td><%= link_to 'Edit', edit_room_path(room) %></td>
    <td><%= link_to 'Destroy', room, confirm: 'Are you sure?', method: :delete %></td>
  </tr>
<% end %>
</table>

<br />

<%= link_to 'New Room', new_room_path %>
