<p id="notice"><%= notice %></p>

<p>
  <b>Creator:</b>
  <%= @room.creator_id %>
</p>

<p>
  <b>Joiner:</b>
  <%= @room.joiner_id %>
</p>

<p>
  <b>Name:</b>
  <%= @room.name %>
</p>

<p>
  <b>Status:</b>
  <%= @room.status %>
</p>

<p>
  <b>Session:</b>
  <%= @room.session_id %>
</p>

<p>
  <b>OpenTok video:</b>
  <%= @room.record_id %>
</p>

<%= link_to 'Edit', edit_room_path(@room) %> |
<%= link_to 'Back', rooms_path %>
