<div class="selection_body moolango-box">
	<div class="moolango-box-inner">
		<%= form_tag('/paypal_billing') do %>
			<div style="width: 185px; margin: auto; height: 10px;">
				<% Pricing.all.each do |item| %>
					<div style="float:left; margin: 0 9px 0 9px;">
						<div style="font-weight: bold;"> <%= item.description %> </div>
						$<%= item.price %> <br />
						<% if item == Pricing.first %>
							<%= radio_button_tag 'pricing', item.id, :selected %>
						<% else %>
							<%= radio_button_tag 'pricing', item.id %>
						<% end %>
					</div>
				<% end %>
			</div>
			<br/><br/><br/><br/>
			<%= submit_tag 'Continue', :class => "next_button" %>
			<% end %>
	</div>
</div>
