<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Moolango <%= @title_desc if @title_desc %></title>
	<%= stylesheet_link_tag    "application" %>
	<link rel="shortcut icon" href="http://24.media.tumblr.com/avatar_5449ac512dba_16.png" />	
  	<%= javascript_include_tag "application" %>
		<%= javascript_include_tag "uservoice/uv_snippet.#{I18n.locale}" %>
  	<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="MooLango" />
	<meta property="og:type" content="Language Practice" />
	<meta property="og:url" content="http://moolango.com" />
	<meta property="og:image" content="http://www.moolango.com/assets/webpage/logo-f9b058d1dd43b070080ebfc130923998.png" />
	<meta property="og:description" content="Make some moola speaking your lango" />
	<meta property="og:site_name" content="Moolango" />
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="span2">
					<div style="width: 100%; height: 120px; padding-top: 15px;">
					<%= link_to image_tag("webpage/logo.png", :alt => "Moolango logo"), :root, :rel => "tooltip", "data-original-title" => "#{I18n.t 'home', :scope => :tooltips}" %>
					</div>
				</div>
				<div class="span8">
					<div style="width: 100%; height: 120px; text-align: center;">
						<%= image_tag "webpage/banner_biplane.#{I18n.locale}.png", :alt => "#{I18n.t 'tagline', :scope => :landing}" %>
					</div>
				</div>
				<div class="span2">
					<div class="row no-space">
						<div style="width: 100%; height: 150px;">
							<div style="float: right;">
								<% if current_user %>
									<div class="logout_button">
										<%= link_to image_tag("webpage/logout_button.png"), :logout, :rel => "tooltip", "data-original-title" => "#{I18n.t 'logout', :scope => :tooltips}", "data-placement"=> "left" %>
									</div>
									<% if current_user.buyer_conversations.empty? and current_user.credits == 0  %>
										<div class="login_button">
											<%= link_to image_tag("webpage/login_button.png", :alt => "#{I18n.t 'free_min', :scope => :dashboard}"), :free_credit %>
											<div class="login_text" style="font-size: 80%; margin-top: -80%;">
												<%= link_to raw("#{I18n.t 'free_min', :scope => :dashboard}"), :free_credit %>
											</div>
										</div>
									<% else %>
										<div class="login_button">
											<%= image_tag "webpage/account_button.png", :alt => "My account button" %>
											<div class="add_credit_button">
												<%= link_to image_tag("webpage/buy_more_button.png"), :paypal_shopping_cart, :rel => "tooltip", "data-original-title" => "#{I18n.t 'credit', :scope => :tooltips}", "data-placement"=> "left" %>
											</div>
											<div class="account_text">
												<%= link_to raw("#{I18n.t 'balance', :scope => :dashboard} <br/> #{current_user.credits.to_i} #{I18n.t 'minutes', :scope => :dashboard}"), "#", :rel=>"tooltip", "data-placement"=>"left", "data-original-title"=>"#{I18n.t 'available', :scope => :tooltips}", :id=>"minutes" %>
											</div>
										</div>
									<% end %>
								<% else %>
									<div class="login_button" style="width: 55%; margin-right: 40px;">
										<%= link_to image_tag("webpage/login_button.png", :alt => "Login button"), :signin %>
										<div class="login_text" >
											<%= link_to raw(I18n.t 'login', :scope => :layout), :signin %>
										</div>
									</div>
								<% end %>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
		<%= yield %>
	</div>
	<div class="footer">
		<div class="footerText" style="float: left; margin-right: 30px;">&nbsp;&nbsp;&nbsp;&copy; 2012 MooLango LLC</div>
		<div>
			<div style="float: left;">
				<div class="nav_buttons">
					<%= link_to image_tag("webpage/twitter.png", :alt => "Twitter button"), "http://twitter.com/Moolango", :target => "_blank", :rel => "tooltip", "data-original-title" => "#{I18n.t 'twitter', :scope => :tooltips}" %>
				</div>
			</div>
			<div style="float: left;">
				<div class="nav_buttons">
					<%= link_to image_tag("webpage/facebook.png", :alt => "Facebook button"), "http://facebook.com/Moolango", :target => "_blank", :rel => "tooltip", "data-original-title" => "#{I18n.t 'facebook', :scope => :tooltips}"%>
				</div>
			</div>
			<div style="float: left;">
				<div class="nav_buttons">
					<%= link_to image_tag("webpage/blog.png", :alt => "Blog button"), "http://blog.moolango.com", :target => "_blank", :rel => "tooltip", "data-original-title" => "#{I18n.t 'blog', :scope => :tooltips}" %>
				</div>
			</div>
		</div>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to (I18n.t 'about', :scope => :layout), :about %>
		</span>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to (I18n.t 'faq', :scope => :layout), :faq %>
		</span>
		<script type="text/javascript">var switchTo5x=false;</script>
	</div>

	<script id="IntercomSettingsScriptTag">
		var intercomSettings = {
		    app_id: 'medkivz',
		    email:  '<%= current_user.email unless current_user == nil %>',
		    created_at: '<%= current_user.created_at.to_time.to_i unless current_user == nil %>',
		    name: '<%= current_user.firstname.to_s + " " + current_user.lastname.to_s unless current_user == nil %>'
		};
	</script>
</body>
</html>
