<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Moolango <%= @title_desc if @title_desc %></title>
  <%= stylesheet_link_tag    "application" %>
  <%= javascript_include_tag "application" %>
  <%= javascript_include_tag "uservoice/uv_snippet" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="span2">
					<div style="width: 100%; height: 120px; padding-top: 15px;">
					<%= link_to image_tag("webpage/logo.png", :alt => "Moolango logo"), :root %>
					</div>
				</div>
				<div class="span7">
					<div style="width: 100%; height: 120px;">
						<%= image_tag "webpage/banner_biplane.png", :alt => "Make some moola speaking your lango" %>
					</div>
				</div>
				<div class="span3">
					<div class="row no-space">
						<div style="width: 100%; height: 150px;">
							<div class="span1">
								<div class="nav_buttons">
								<%= link_to image_tag("webpage/twitter.png", :alt => "Twitter button"), "http://twitter.com/Moolango", :target => "_blank" %>
								</div>
							</div>
							<div class="span1">
								<div class="nav_buttons">
								<%= link_to image_tag("webpage/facebook.png", :alt => "Facebook button"), "http://facebook.com/Moolango", :target => "_blank" %>
								</div>
							</div>
							<div class="span1">
								<div class="nav_buttons">
								<%= link_to image_tag("webpage/blog.png", :alt => "Blog button"), "http://blog.moolango.com", :target => "_blank" %>
								</div>
							</div>
							<div class="span1">
								<div class="login_button">
								<% if current_user %>
									<%= image_tag "webpage/account_button.png", :alt => "My account button" %>
									<%= link_to image_tag("webpage/logout_button.png", :class=>"logout_button"), :logout %>
									<div class="account_text">
										<%= link_to sprintf('$ %.2f', current_user.credits), "#", :rel=>"popover", "data-placement"=>"left", "data-content"=>"You can use them to start practicing.", "data-original-title"=>"Free credits!", "data-trigger"=>"manual", :id=>"credits" %>
									</div>
								<% else %>
									<%= link_to image_tag("webpage/login_button.png", :alt => "Login button"), :signin %>
									<div class="login_text">
										<%= link_to raw("LOG<br />IN"), :signin %>
									</div>
								<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container sheight">
		<div class="padding">
		<%= yield %>
		</div>
	</div>
	
	<!-- AddThis Button BEGIN -->
	<script type="text/javascript">
		var addthis_share =
		{
		   url: "http://www.moolango.com",
		   title: "MooLango: make some moola speaking your lango"
		}
	</script>
	<div class="addthis_toolbox addthis_default_style" style="margin-left:10px">
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://www.facebook.com/Moolango"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-501e03fd47cca81f"></script>
	<!-- AddThis Button END -->
	
	<div class="footer">
		<div class="footerText">&nbsp;&nbsp;&nbsp;&nbsp;&copy; 2012 MooLango LLC</div>
	</div>
</body>
</html>
