<!DOCTYPE html>
<html xmlns:fb="http://ogp.me/ns/fb#">
<head>
  <title>Moolango <%= @title_desc if @title_desc %></title>
	<%= stylesheet_link_tag    "application" %>
	<link rel="shortcut icon" href="http://24.media.tumblr.com/avatar_5449ac512dba_16.png" />	
  	<%= javascript_include_tag "application" %>
  	<%= javascript_include_tag "uservoice/uv_snippet" %>
  	<%= javascript_include_tag "olark/olark_snippet" %>
  	<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta property="og:title" content="MooLango" />
	<meta property="og:type" content="Language Practice" />
	<meta property="og:url" content="http://moolango.com" />
	<meta property="og:image" content="http://www.moolango.com/assets/webpage/logo-f9b058d1dd43b070080ebfc130923998.png" />
	<meta property="og:description" content="Make some moola speaking your lango" />
	<meta property="og:site_name" content="Moolango" />
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="span2">
					<div style="width: 100%; height: 120px; padding-top: 15px;">
					<%= link_to image_tag("webpage/logo.png", :alt => "Moolango logo"), :root %>
					</div>
				</div>
				<div class="span7">
					<div style="width: 100%; height: 120px;">
						<%= image_tag "webpage/banner_biplane.png", :alt => "Enjoyable, affordable language practice!" %>
					</div>
				</div>
				<div class="span3">
					<div class="row no-space">
						<div style="width: 100%; height: 150px;">
							<div class="span1">
								<div class="nav_buttons">
									<%= link_to image_tag("webpage/twitter.png", :alt => "Twitter button"), "http://twitter.com/Moolango", :target => "_blank", :rel => "tooltip", "data-original-title" => "Our Twitter" %>
								</div>
							</div>
							<div class="span1">
								<div class="nav_buttons">
								<%= link_to image_tag("webpage/facebook.png", :alt => "Facebook button"), "http://facebook.com/Moolango", :target => "_blank", :rel => "tooltip", "data-original-title" => "Our Fanpage"%>
								</div>
							</div>
							<div class="span1">
								<div class="nav_buttons">
								<%= link_to image_tag("webpage/blog.png", :alt => "Blog button"), "http://blog.moolango.com", :target => "_blank", :rel => "tooltip", "data-original-title" => "Our Blog" %>
								</div>
							</div>
							<div class="span1">
								<div class="login_button">
								<% if current_user %>
									<%= image_tag "webpage/account_button.png", :alt => "My account button" %>
									<div class="logout_button">
										<%= link_to image_tag("webpage/logout_button.png"), :logout, :rel => "tooltip", "data-original-title" => "Logout", "data-placement"=> "left" %>
									</div>
									<div class="account_text">
										<%= link_to sprintf('%s hrs', (current_user.credits/60)), "#", :rel=>"tooltip", "data-placement"=>"left", "data-original-title"=>"Available minutes", :id=>"minutes" %>
									</div>
								<% else %>
									<%= link_to image_tag("webpage/login_button.png", :alt => "Login button"), :signin %>
									<div class="login_text">
										<%= link_to raw("LOG<br />IN"), :signin %>
									</div>
								<% end %>
								</div>
							</div>
						</div>
					</div>
				</div>
			</div>
		</div>
	</div>
	<div class="container sheight">
		<div class="padding">
			<%= yield %>
		</div>
	</div>
	<div class="footer">
		<div class="footerText" style="float: left;">&nbsp;&nbsp;&nbsp;&copy; 2012 MooLango LLC</div>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to "About", :about %>
		</span>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to "FAQ", :faq %>
		</span>
		<script type="text/javascript">var switchTo5x=false;</script>
	</div>

	<script id="IntercomSettingsScriptTag">
		var intercomSettings = {
		    app_id: 'medkivz',
		    email:  '<%= current_user.email unless current_user == nil %>',
		    created_at: '<%= current_user.created_at.to_time.to_i unless current_user == nil %>',
		    name: '<%= current_user.firstname.to_s + " " + current_user.lastname.to_s unless current_user == nil %>'
		};
	</script>
</body>
</html>
