<!DOCTYPE html>
<html>
<head>
  <title>Moolango <%= @title_desc if @title_desc %></title>
  <%= stylesheet_link_tag    "conversation_room/conversation_room" %>
	<%= javascript_include_tag "application" %>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <%= javascript_include_tag "pusher/pusher.min" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="span12">
					<div class="title_image" >
						<div class="row-fluid" style="padding-top: 10px;">
							<div class="span4"></div>
							<div class="span4">
								<div id="totalTimeBar">
									<div id="timeBar"></div>
									<div id="totalTimeTxt"></div>
								</div>
							</div>
							<div class="span4">
								<div id="actionsDiv">
									<div id="endCallDiv">
										<%= form_tag('/interaction/end_call', :remote => true) do %>
											<%= hidden_field_tag :channel, @internal_session %>
											<%= submit_tag "End Call", :class => "conversationButton" %>
										<% end %>
									</div>
									<div id="reconnectDiv">
										<button type="button" class="conversationButton" onClick="reconnect();">Reconnect</button>
									</div>
								</div>
							</div>
						</div>					
					</div>
				</div>
			</div>
		</div> 
	</div>
	<div class="container sheight">
			<%= yield %>
	</div>
	
	<!-- AddThis Button BEGIN -->
	<script type="text/javascript">
		var addthis_share =
		{
		   url: "http://www.moolango.com",
		   title: "MooLango: make some moola speaking your lango"
		}
	</script>
	<div class="addthis_toolbox addthis_default_style" style="margin-left:10px">
		<a class="addthis_button_tweet"></a>
		<a class="addthis_button_facebook_like" fb:like:layout="button_count" addthis:url="http://www.facebook.com/Moolango"></a>
	</div>
	<script type="text/javascript" src="http://s7.addthis.com/js/250/addthis_widget.js#pubid=ra-501e03fd47cca81f"></script>
	<!-- AddThis Button END -->
	
	<div class="footer">
		<div class="footerText">
			&copy; 2012 MooLango LLC
		</div>
	</div>
</body>
</html>
