<!DOCTYPE html>
<html>
<head>
  <title>Moolango <%= @title_desc if @title_desc %></title>
  <%= stylesheet_link_tag    "conversation_room/conversation_room" %>
  <%= javascript_include_tag "application" %>
	<script src="http://staging.tokbox.com/v0.91/js/TB.min.js"></script>
  <%= javascript_include_tag "pusher/pusher.min" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
</head>
<body>
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="span12">
					<div class="title_image" ></div>
				</div>
			</div>
		</div> 
	</div>
	<div class="container sheight">
			<%= yield %>
	</div>
	<div class="footer">
		<div class="footerText">
			&copy; 2012 MooLango LLC
		</div>
	</div>
</body>
</html>
