<!DOCTYPE html>
<html>
<head>
  <title>Moolango <%= @title_desc if @title_desc %></title>
  <%= stylesheet_link_tag    "conversation_room/conversation_room" %>
	<link rel="shortcut icon" href="http://24.media.tumblr.com/avatar_5449ac512dba_16.png" />	
	<%= javascript_include_tag "conversation_room/rooms" %>
	<script src="http://static.opentok.com/v0.91/js/TB.min.js"></script>
	<%= javascript_include_tag "pusher/pusher.min" %>
	<%= csrf_meta_tags %>
	<meta name="viewport" content="width=850, height=950">
	<meta property="og:title" content="MooLango" />
	<meta property="og:type" content="Language Practice" />
	<meta property="og:url" content="http://moolango.com" />
	<meta property="og:image" content="http://www.moolango.com/assets/webpage/logo-f9b058d1dd43b070080ebfc130923998.png" />
	<meta property="og:description" content="Make some moola speaking your lango" />
	<meta property="og:site_name" content="Moolango" />
</head>
<body id="body">
	<div class="container">
		<div class="header">
			<div class="row">
				<div class="span12">
					<div class="title_image" >
						<div class="row-fluid" style="padding-top: 10px;">
							<!--div class="span4"></div>
							<div class="span4">
								<div id="totalTimeBar">
									<div id="timeBar"></div>
									<div id="totalTimeTxt"></div>
								</div>
							</div>
							<div class="span4">
								<div id="actionsDiv">
									<div id="endCallDiv">
										<%= form_tag('/interaction/end_call', :remote => true, :id => "end_call_form") do %>
											<%= hidden_field_tag :channel, @internal_session %>
											<%= hidden_field_tag :room_id, @room.id if @room%>
											<%= submit_tag "End Call", :class => "conversation_button" %>
										<% end %>
									</div>
									<div id="reconnectDiv">
										<button type="button" class="conversation_button" onClick="reconnect();">Reconnect</button>
									</div>
								</div>
							</div-->
						</div>					
					</div>
				</div>
			</div>
		</div> 
		<%= yield %>
	</div>
	<div class="footer">
		<div class="footerText" style="float: left; margin-right: 30px;">&nbsp;&nbsp;&nbsp;&copy; 2012 MooLango LLC</div>
		<div>
			<div style="float: left;">
				<div class="nav_buttons">
					<%= link_to image_tag("webpage/twitter.png", :alt => "Twitter button"), "http://twitter.com/Moolango", :target => "_blank", :rel => "tooltip", "data-original-title" => "Our Twitter" %>
				</div>
			</div>
			<div style="float: left;">
				<div class="nav_buttons">
					<%= link_to image_tag("webpage/facebook.png", :alt => "Facebook button"), "http://facebook.com/Moolango", :target => "_blank", :rel => "tooltip", "data-original-title" => "Our Fanpage"%>
				</div>
			</div>
			<div style="float: left;">
				<div class="nav_buttons">
					<%= link_to image_tag("webpage/blog.png", :alt => "Blog button"), "http://blog.moolango.com", :target => "_blank", :rel => "tooltip", "data-original-title" => "Our Blog" %>
				</div>
			</div>
		</div>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to (I18n.t 'about', :scope => :layout), :about %>
		</span>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to (I18n.t 'faq', :scope => :layout), :faq %>
		</span>
		<span class="footerText" style="float: right; margin-right:30px;">
			<%= link_to (I18n.t 'terms', :scope => :layout), "/terms_and_conditions.pdf", :target => "_blank" %>
		</span>
		<script type="text/javascript">var switchTo5x=false;</script>
	</div>

	<script id="IntercomSettingsScriptTag">
		var intercomSettings = {
		    app_id: 'medkivz',
		    email:  '<%= current_user.email unless current_user == nil %>',
		    created_at: '<%= current_user.created_at.to_time.to_i unless current_user == nil %>',
		    name: '<%= current_user.firstname.to_s + " " + current_user.lastname.to_s unless current_user == nil %>'
		};
	</script>

</body>
</html>
